<div class="container">
  <h3 *ngIf="isLoading">Cargando...</h3>

  <h3 *ngIf="!isLoading && !hits?.length && !error">
    No se encontraron resultados para la busqueda:
  </h3>

  <h3 *ngIf="!isLoading && !hits?.length && error">
    Error: {{ error }}
  </h3>

  <h3 *ngIf="q">{{ q }}</h3>
  <hr />
  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-2" *ngFor="let hit of hits">
      <a
        [routerLink]="['/angular', hit?.id]"
        class="card-link"
        queryParamsHandling="merge"
      >
        <div class="card shadow-sm" style="min-height: 350px">
          <img
            [imagen]="hit.webformatURL"
            class="card-img-top foto"
            [alt]="hit.tags"
            ImgLazy
          />
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <p class="card-text mb-0">
                <strong>👍 {{ hit?.likes | number }}</strong> Likes
              </p>
              <p class="card-text mb-0">
                <strong>👁‍🗨 {{ hit?.views | number }}</strong> Vistas
              </p>
            </div>

            <hr />
            <ng-container *ngFor="let tag of handlerTags(hit?.tags)">
              <span class="badge badge-primary ml-1"> {{ tag }}</span>
            </ng-container>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
