<div class="container">
  <div class="row">
    <h3 *ngIf="hits && !hits?.length">
      No se encontraron resultados para la busqueda
    </h3>
    <div class="col-lg-4 col-sm-6 mb-2" *ngFor="let hit of hits">
      <a [routerLink]="['/', hit.id]" class="card-link">
        <div class="card shadow-sm">
          <img
            [src]="hit.webformatURL"
            class="card-img-top foto"
            [alt]="hit.tags"
          />
          <div class="card-body">
            <p class="card-text mb-0">
              <strong>👍 {{ hit.likes | number }}</strong> Likes
            </p>
            <p class="card-text mb-0">
              <strong>👁‍🗨 {{ hit.views | number }}</strong> Vistas
            </p>

            <hr />
            <ng-container *ngFor="let tag of handlerTags(hit.tags); index as i">
              <span class="badge badge-primary ml-1">{{ tag }}</span>
            </ng-container>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
